data/twanksta_entries.json filter=lfs diff=lfs merge=lfs -text
data/cache/*.npy filter=lfs diff=lfs merge=lfs -text
embeddings/*.npy filter=lfs diff=lfs merge=lfs -text
embeddings/*.json filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_model2vec.embeddings.npy filter=lfs diff=lfs merge=lfs -text
embeddings/embeddings_model2vec.entries.json filter=lfs diff=lfs merge=lfs -text
